body {
	margin: 0;
	padding: 0;
	background: #eee;
	text-align: center;
}

#game-area {
	position: relative;
	width: 800px;
	height: 600px;
	margin-right: 30px;
	display: inline-block;
}

#game-area canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#conch-them-up {
	z-index: 1;
}

#ui {
	z-index: 2;
}