@import url(http://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,latin-ext);

body {
	margin: 0;
	padding: 0;
	background: #eee;
}

h1 {
	text-align: center;
}

h1, h2 {
	font-family: 'Press Start 2P', cursive;
}

#instructions {
	max-width: 800px;
	margin: 0.5em auto 2em auto;
	display: block;
}

#game-area {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	display: block;
}

#game-area canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#conch-them-up {
	z-index: 1;
}

#ui {
	z-index: 2;
}